.logo-container{
    max-width: 1612px;
    display: flex;
    margin: 0 auto;
    margin-top: 95px;
}
.logo-container .logo-wrapper{
    display: flex;
    margin-right: 310px;
}


.locus{
margin-left: 14px;
width: 105px;
height: 53px;
left: 217px;
top: 95px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 52px;
color: #58A9A5;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;   
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li:not(:last-child){
    margin-right: 85px;
}

.navigation-link{
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 25px;
line-height: 1px;
color: #404242;
text-decoration: none;
cursor: pointer;
}
.fourth-li{
    width: 120px;
}
.navigation-link:hover{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #58A9A5;
    font-size: 25px;
}
.navigation-link:after{
	color: #FEC62D;
    display: block;
    margin: 0 auto;
    position: absolute;
	background-color: #FEC62D;
	content: "";
	transition: 0.5s;
    border-radius: 21px;
}
.first-hover:hover:after,
.first-hover:focus:after {
	width: 75px;
    height: 6px;
}
.second-hover:hover:after,
.second-hover:focus:after {
	width: 102px;
    height: 6px;
}
.third-hover:hover:after,
.third-hover:focus:after {
	width: 107px;
    height: 6px;
}
.fourth-hover:hover:after,
.fourth-hover:focus:after {
	width: 113px;
    height: 6px;
}
.logo-button{
width: 271px;
height: 80px;
background: #58A9A5;
border-radius: 15px;
display: flex;
align-items: center;
justify-content: center;
margin-left: 220px;
}
.logo-button a{
text-decoration: none;
font-family: 'Poppins';
font-weight: 500;
font-size: 25px;
color: #FFFFFF
}
.insp-of-interior-container{
    max-width: 1650px;
    display: flex;
    margin: 0 auto;
    margin-top: 105px;
    align-items: center;
    justify-content: center;
}
.insp-of-interior-txt-wrapper{
    width: 50%;
}
.insp-of-interior-title{
    width: 700px;
    height: 315px;   
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 70px;
    color: #1C2323;
}
.insp-of-interior-description{
    width: 743px;
    height: 180px;  
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 30px;    
    color: #404242;
    margin-top: 50px;   
}
.insp-of-interior-button{
    width: 271px;
    height: 80px;
    background: #58A9A5;
    border-radius: 20px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.insp-of-interior-button a{
width: 98px;
height: 38px;
font-family: 'Poppins';
font-weight: 700;
font-size: 25px;
line-height: 38px;
color: #FFFFFF;
text-decoration: none;
}
.insp-of-interior-image-wrapper{
width: 50%;
height: 782px;
background-image: url(../images/bgi-block2.png);
display: flex;
align-items: center;
justify-content: center;
}
.how-it-works{   
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 70px;
    text-align: center;  
    color: #1C2323;
    margin: 0 auto;
    margin-top: 135px;
}
.how-it-works-description{
font-family: 'Poppins';
font-weight: 400;
font-size: 30px;
line-height: 45px;
text-align: center;
color: #404242;
margin-top: 20px;
margin: 0 auto;
width: 510px;
}
.video-wrapper{
    max-width: 1612px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 71px;
}
.video-img{
width: 1063px;
height: 350px;
background-image: url(../images/video-img.png);
border-radius: 10px 0px 0px 10px;
}
.video-description-wrapper{
    width: 549px;
    height: 350px;
    background-color: #CCF0E6;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.video-description{
font-family: 'Poppins';
font-weight: 500;
font-size: 20px;
color: #486958;
}
.see-video{
    margin-top: 41px;
}
.see-video a{
width: 130px;
height: 30px;
font-family: 'Poppins';
font-weight: 700;
font-size: 20px;
color: #486958;
text-decoration: none;
margin-right: 197px;
}
.player-btn svg{
    position: absolute;
    left: 60%;
    cursor: pointer;
    margin: 0 auto;
}













/* 
cursor: pointer;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #42D0F7; */



